.custom-nav {
    background-color: rgb(10, 101, 106) !important;
}

.custom-dropdown a {
    color: white !important;
}
.custom-dropdown a:hover {
    color: white !important;
    background-color: rgb(55, 182, 129);
}

#sections-container {
    margin-top: 56px;
}


#home {
    width: 100vw !important;
}

#video-container {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#video-container video {
    position: absolute;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.home-landing {
    position: absolute;
    padding: 10px;
    padding-left: 10px !important;
}

