.custom-nav {
    background-color: rgb(10, 101, 106) !important;
}

.custom-dropdown a {
    color: white !important;
}
.custom-dropdown a:hover {
    color: white !important;
    background-color: rgb(55, 182, 129);
}

#sections {
    padding-top: 60px;
}

.section {
    width: 100vw;
    min-height: 100vh;
}

#home {
    width: 100vw !important;
}

#video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1; 
}

#video-container video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}