.custom-nav {
    background-color: rgb(25, 37, 37) !important;
}

.custom-dropdown a {
    color: white !important;
}
.custom-dropdown a:hover {
    color: white !important;
    background-color: rgb(30, 41, 36);
}

.section {
    padding-top: 66px;
    min-height: 100vh;
}

#video-container {
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
}

#video-container video {
    position: absolute;
    width: 100% !important;
    min-height: 100vh;
    object-fit: cover;
    z-index: -1;
    left: 0;
    top: 0;
    overflow: hidden;
}

#video-container img {
    position: absolute;
    right: 0%;
    top: 0%;
    z-index: -1;
    width: 10%;
}


.home-landing {
    position: absolute;
    padding: 10px;
    padding-left: 10px !important;
}

#ourproducts {
    background-color: rgb(22, 32, 56) !important;
}

#ourproducts .card {
    background-color: rgb(64, 24, 101);
    color: white;
}

.home-2 {
    position: relative;
    color: white;
}



.future-of-seaweed {
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(2, 35, 62);
    color: white;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.future-of-seaweed img {
    position: absolute;
    height: 50%;
} 

.future-of-seaweed h1 {
    width: 70%;
    position: absolute;
    top: 40%;
}

/* explore button */
.uvbtn1 {
  --border-color: linear-gradient(-45deg, #ffae00, #7e03aa, #00fffb);
  --border-width: .125em;
  --curve-size: .5em;
  --blur: 30px;
  --bg: #080312;
  --color: #afffff;
  color: var(--color);
    /* use position: relative; so that BG is only for .btn */
  position: relative;
  isolation: isolate;
  display: inline-grid;
  place-content: center;
  padding: .5em 1.5em;
  font-size: 17px;
  border: 0;
  padding: 10px 60px !important;
  text-transform: uppercase;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, .6);
  clip-path: polygon(
            /* Top-left */
            0% var(--curve-size),

            var(--curve-size) 0,
            /* top-right */
            100% 0,
            100% calc(100% - var(--curve-size)),

            /* bottom-right 1 */
            calc(100% - var(--curve-size)) 100%,
            /* bottom-right 2 */
            0 100%);
  transition: color 250ms;
}

.uvbtn1::after,
.uvbtn1::before {
  content: '';
  position: absolute;
  inset: 0;
}

.uvbtn1::before {
  background: var(--border-color);
  background-size: 300% 300%;
  animation: move-bg7234 5s ease infinite;
  z-index: -2;
}

@keyframes move-bg7234 {
  0% {
    background-position: 31% 0%
  }

  50% {
    background-position: 70% 100%
  }

  100% {
    background-position: 31% 0%
  }
}

.uvbtn1::after {
  background: var(--bg);
  z-index: -1;
  clip-path: polygon(
            /* Top-left */
            var(--border-width) 
            calc(var(--curve-size) + var(--border-width) * .5),

            calc(var(--curve-size) + var(--border-width) * .5) var(--border-width),

            /* top-right */
            calc(100% - var(--border-width)) 
            var(--border-width),

            calc(100% - var(--border-width)) 
            calc(100% - calc(var(--curve-size) + var(--border-width) * .5)),

            /* bottom-right 1 */
            calc(100% - calc(var(--curve-size) + var(--border-width) * .5)) calc(100% - var(--border-width)),
            /* bottom-right 2 */
            var(--border-width) calc(100% - var(--border-width)));
  transition: clip-path 500ms;
}

.uvbtn1:where(:hover, :focus)::after {
  clip-path: polygon(
                /* Top-left */
                calc(100% - var(--border-width)) 

                calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    
                calc(100% - var(--border-width))

                var(--border-width),
    
                /* top-right */
                calc(100% - var(--border-width))

                 var(--border-width),
    
                calc(100% - var(--border-width)) 

                calc(100% - calc(var(--curve-size) + var(--border-width) * .5)),
    
                /* bottom-right 1 */
                calc(100% - calc(var(--curve-size) + var(--border-width) * .5)) 
                calc(100% - var(--border-width)),

                /* bottom-right 2 */
                calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
                calc(100% - var(--border-width)));
  transition: 200ms;
}

.uvbtn1:where(:hover, :focus) {
  color: #fff;
}

.explore-btn {
    position: absolute;
    right: 50%;    
    bottom: 10%;
    transform: translateX(50%);
}

.our-mission {
    background-image: url("../img/bg6.jpg");
    background-size: cover;
    color: white;
    min-height: 100vh;
}

.our-mission h1 {
    color: rgb(3, 40, 3);
}

.linecls {
    font-size: 30px;
    font-weight: 700;
    color: rgb(21, 47, 2);
}
.our-mission p {
    color: rgb(228, 246, 217);
    /* color: rgb(183, 242, 158); */
    font-size: 3rem;
    font-weight: 400;
}

.our-mission img {
    position: absolute;
    height: 10%;
    right: 0;
    top: 3%;
}

.what-we-do {
    min-height: 100vh;
    background-image: url('../img/bg8.jpg');
    background-size: cover;
    background-blend-mode: saturation;
}

.what-we-do h1 {
    color: rgb(3, 40, 3);
}

.what-we-do p {
    width: 50%;
    font-weight: 600;
}

@media screen and (max-width: 768px) {
    .what-we-do p {
        width: 100%;
    }
}
    
/* what we do button */
.uvbtn2 {
  background: transparent;
  color: #fff;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  padding: 15px 30px;
  perspective: 30rem;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.308);
}

.uvbtn2::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
  background: linear-gradient(320deg, rgba(0, 140, 255, 0.678), rgba(128, 0, 128, 0.308));
  transition: background 3s;
}

.uvbtn2:hover::before {
  animation: rotate 1s;
  transition: all .5s;
}

@keyframes rotate {
  0% {
    transform: rotateY(180deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}

#adoptseaweed {
  background-color: rgb(17, 17, 75);
  width: 100%;
  display: flex;
  opacity: 0.8;
}

#adoptseaweed div {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

#adoptseaweed img {
  width: 50%;
}

#adoptseaweed p {
  color: white !important;
}

@media screen and (max-width: 790px){
  #adoptseaweed img {
    display: none;
  }

  #adoptseaweed {
    background-image: url("../img/bg18.jpeg");    
    background-size: cover;
  }
  #adoptseaweed h1 {
    color: rgb(6, 75, 110) !important;
  }
  #adoptseaweed p {
    /* color: rgb(54, 54, 135) !important; */
    color: white !important;
  }
}

#coralnurseries {
  background-image: url("../img/bg19.jpg");
  background-size: cover;
  background-position: center;
}

#coralnurseries div {
 width: 70%; 
}

#coralnurseries h1 {
  color: rgb(3, 16, 91) !important; 
  width: 50%;
}

#coralnurseries p {
  color: white;
  /* width: 70%; */
}

@media screen and (max-width: 500px) {
  #coralnurseries div {
    width: 100%; 
  }
  #coralnurseries p {
    font-size: 16px !important;
  }
}

#accomodation {
  background-image: url("../img/accomodation.jpg");
  background-size: cover;
}

#accomodation div {
  width: 70%;
}

#accomodation h1 {
  color: rgb(9, 150, 244) !important;
}

#accomodation p {
  color: white !important;
}

@media screen and (max-width: 500px) {
  #accomodation div {
    width: 100%; 
  }

  #accomodation p {
    font-size: 16px !important;
  }
}

#gallery {
  background-color: #0f2b41;
}

#gallery div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 20px;
}

#gallery img {
  width: 300px;
  height: 400px;
  object-fit: cover;
}

#gallery img:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}

@media screen and (max-width: 500px) {
  #ourapproach h2 {
    font-size: 16px !important;
  }
  #ourapproach p {
    font-size: 14px !important;
  }
  #ourapproach div {
    width: 100%;
  }
  #nav-logo {
    height: 20px;
  }
}

/* mission button  */
#mission-button {
  width: fit-content;
  text-decoration: none;
  border: none;
  position: relative;
  padding: 0.7em 2.4em;
  font-size: 18px;
  background: transparent;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
  color: royalblue;
  z-index: 1;
  font-family: inherit;
  font-weight: 500;
}

#mission-button span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: -1;
  border: 4px solid royalblue;
}

#mission-button span::before {
  content: "";
  position: absolute;
  width: 8%;
  height: 500%;
  background: var(--lightgray);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-60deg);
  transition: all 0.3s;
}

#mission-button:hover span::before {
  transform: translate(-50%, -50%) rotate(-90deg);
  width: 100%;
  background: royalblue;
}

#mission-button:hover {
  color: white;
}

#mission-button:active span::before {
  background: #2751cd;
}

#mission {
  background-image: url("../img/bg14.jpg");
  background-size: cover;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 20px;
  background-color: #022c4b;
}

.product {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 400px;
  object-fit: cover;
}

.product img {
  width: 100%;
  height: 90%;
}
